<h2>Konvertera</h2>
<div class="container">
<div class="form">
    <label for="meter">Meter:</label>
    <input type="number" id="meter" [(ngModel)] ="meter">

    <label for="celcius">Celcius:</label>
    <input type="number" id="celcius" [(ngModel)] = "celcius">
</div>
<div class="button-container">
    <button (click)=convertMeterToFoot()>Konvertera till fot</button>
    <button (click)=convertCelciusToFahrenheit()>Konvertera till fahrenheit</button>
    <button (click)=clearConvert()>Rensa</button>
</div>
<div class="result">
<p>Fot:{{ resultFot }}</p>
<p>Fahrenheit: {{ resultFahrenheit }}</p>
</div>
</div>
