<h1>Konvertera</h1>

<div>
    <label for="meter">Meter:</label>
    <input type="number" id="meter" [(ngModel)] ="meter">
    </div>
    <div>
    <label for="celcius">Celcius:</label>
    <input type="number" id="celcius" [(ngModel)] = "celcius">
</div>
<div>
    <button (click)=convertMeterToFoot()>Konvertera till fot</button>
    <button (click)=convertCelciusToFahrenheit()>Konvertera till fahrenheit</button>
    <button (click)=clearConvert()>Rensa</button>
</div>
<div>
<p>Fot:{{ resultFot }}</p>
<p>Fahrenheit: {{ resultFahrenheit }}</p>
</div>
