<article>
    <p>Webbplatsen ska uppfylla följande krav:</p>
    <div>
        <hr>
    <ul>
        <li>Skapa en Angular-webbplats</li>
        <li>Inkludera minst tre undersidor</li>
        <li>Det ska finnas en undersida för konvertering av värden</li>
        <li>Minst en bild ska finnas på någon av undersidorna</li>
        <li>Implementera en navigationsmeny med Angulars router-modul</li>
        <li>Lägg till minst en komponent på en av undersidorna</li>
        <li>Använd CSS eller SCSS för webbplatsens styling med god struktur</li>
        <li>Skapa grundläggande global styling i Angular's styles.css-fil och specifika regler på komponentnivå</li>
        <li>Versionshantera källkoden med Git och publicera den färdiga webbplatsen på valfri webbhost</li>
        <li>Publicera den optimerade webbplatsen på en publikt tillgänglig webbhost</li>
    </ul>
    <hr>
    </div>
    <p>Webbplatsen är stylad med CSS och uppfyller samtliga krav på listan.</p>
    <p>Genom arbetets gång har ett Angularprojekt skapats genom syntaxen "ng new Mom3_Angular" via Node.js.</p>
    <p>Därefter har 3 st komponenter (undersidor) skapats genom "ng create component"</p>
    <p>Bild har lagts in under mappen assets/pictures för att sedan länkas genom index.component.html.</p>
    <p>Global css styling har använts via app.component.css varpå speckfik styling gjotrs genom respektive komponents css.</p>
    <p>Navigation är kodad i egen komponent (nav) som sedan implementeras till vardera undersida genom att importeras i app.component.ts och länkad genom routerLink via nav.component.html</p>
    <p>Routes för undersidor är justerat i app.routes.ts där komponent för vardera undersida exporteras, samt importeras. </p>
    <p>Konvertering har gjorts genom att skapa ett enkelt formulär på convert.component.html. Därpå har FormsModule importeras via convert-component.ts för möjligheten att läsa in 
        formulär via Angular. Därpå har en klass skapats (ConvertComponent) vilken innehåller variabler och metoder för själva konverteringen.   
        <p>För att lägga in en komponent på undersidan "about" har jag skapat komponenten "assignment" i vilken jag lagt in text-element. Sen renderas sidan about av Angular genom
            att assignComponent importerats i about.component.ts och app-assignment är lagt som element i about.component.html. 
        </p>   
    <hr>
    </article>